.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  transition: 0.4s;

  &.header-white {
    background-color: $color-white;
    position: unset;
    border-bottom: 1px solid rgb(241, 241, 241);

    .nav-menu-link {
      color: $color-black;
    }

    .social {
      a {
        background-color: $color-theme;
        color: $color-white;
      }
    }
  }

  &-wrp {
    height: 127px;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    align-items: center;
    transition: 0.4s;
  }

  &.scroll {
    background-color: $color-theme !important;
    position: fixed !important;
    border-bottom: none;

    .header-wrp {
      height: 7.3rem !important;
    }
    .social {
      a {
        background-color: $color-white;
        color: $color-theme;
      }
    }

    .nav-menu-link {
      color: $color-white;
    }
  }

  .nav {
    &-menu {
      display: flex;
      gap: 2rem;

      &-item {
        transition: 0.3s all;
        &:hover {
          transform: scale(1.1);
        }
      }

      &-link {
        color: $color-white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: $sm;
        transition: 0.3s all ease;

        &:hover {
          color: $color-primary;
        }

        &.active {
          color: $color-primary;
        }
      }
    }
  }

  //   nav end
  .brand {
    max-width: 120px;
    max-height: 91px;
  }
}
