// colors
$color-theme: #125935;
$color-primary: #ec1c24;
$color-title: #3a3a3a;
$color-black: #000;
$color-white: #fff;

// fonts
$font-poppins: "Poppins", sans-serif;
$font-tequila: "Tequila", sans-serif;

// size
$xs: 12px;
$sm: 14px;
$md: 16px;
$xl: 18px;
$xl-2: 22px;
$xl-3: 24px;
$xl-4: 28px;
$xl-5: 34px;

// responsive
$w-sm: 576px;
$w-md: 768px;
$w-lg: 992px;
$w-xl: 1200px;
$w-2xl: 1400px;
