// colors
$color-theme: #125935;
$color-primary: #ec1c24;
$color-title: #808285;
$colro-black: #000;
$color-white: #fff;

// fonts
$font-poppins: "Poppins", sans-serif;
$font-tequila: "tequila" !important;

// size
$xs: 12px;
$sm: 14px;
$md: 16px;
$xl: 18px;
$xl-2: 22px;
$xl-3: 24px;
$xl-4: 28px;
$xl-5: 34px;
